/* [cite: 2026-04-14] */
#app { 
    width: 100vw; height: 100vh; max-width: 500px; 
    position: relative; overflow: hidden; background: #000;
}
.screen { 
    position: absolute; width: 100%; height: 100%; 
    background-size: 100% 100%; display: none; 
}
.active { display: block; }

/* Görsel Üzerindeki Dokunmatik Alanlar (Hitbox) */
.hitbox { position: absolute; cursor: pointer; opacity: 0; }

#btn-create-room { top: 86%; left: 26%; width: 48%; height: 7%; }
#btn-start-game { bottom: 8%; left: 35%; width: 30%; height: 8%; }
#login-name-input { 
    position: absolute; top: 62%; left: 13%; width: 74%; height: 15%; 
    background: transparent; border: none; color: white; text-align: center; font-size: 1.5rem;
}